body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

form, ul {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    max-width: 400px;
    text-align: left;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

label, select, input {
    display: block;
    margin: 10px 0;
}
